<div class="state {{if estado 'up'}}" align="center">

    <div class="smileys">
      <div class="smiley smiley_0 {{if smiley0Disabled 'disappear'}}" {{action "modificarEstado" 0}}>
        <img src="/dist/assets/images/smiley_triste.png"/>
      </div>

      <div class="smiley smiley_1 {{if smiley1Disabled 'disappear'}}" {{action "modificarEstado" 1}}>
        <img src="/dist/assets/images/smiley_normal.png"/>
      </div>

      <div class="smiley smiley_2 {{if smiley2Disabled 'disappear'}}" {{action "modificarEstado" 2}}>
        <img src="/dist/assets/images/logo.png"/>
      </div>

    </div>
    <div class="user_avatar">
      <img {{action "modificarEstado" -1}} src="/dist/assets/images/avatar.png"/>
    </div>
    <!--div class="row m40 fs20">
      <span class="name">Pepito Pulgarcito Gromenawer</span>
    </div-->

    <div class="row m40 points">

        <div class="icon-drink24 fs40"></div>
        <div class="text-left">
          <p>{{points.today}} cervezas hoy</p>
          <p>{{points.month}} cervezas este mes</p>
        </div>

    </div>

</div>
